$text-color: #fafafa;
$text-color-muted: #bebebe;

.hero {
  position: relative;
  width: 100%;
  height: 100vh;

  &__foreground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 1.5rem 1.5rem;
    display: grid;
    place-items: center;
    z-index: 1;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  &__header {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 6rem;
    font-weight: 100;
    text-transform: uppercase;
    z-index: 1;
  }

  &__main {
    display: flex;
    justify-items: center;
    align-items: flex-end;
    text-align: end;
    flex-direction: column;
    max-width: 500px;
  }

  &__headline {
    color: $text-color;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.scrambled-text {
  font-variant: small-caps;
  font-style: italic;
  letter-spacing: 0.5rem;
  font-weight: 100;
  color: $text-color;

  &--type-filler {
    opacity: 0.3;
  }
}

.project {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  // background-image: url("/static/bg.png");
  background-repeat: repeat;
  background-size: 50px;

  &__description {
    display: grid;
    place-items: center;
  }

  &__showcase {
    position: relative;
  }

  &__image {
    transform: scale(1.5);
  }
}
