$text-color: #fafafa;
$text-color-muted: #bebebe;
$adjustable-padding: min(2rem, 5vw);

.hero {
  position: relative;
  width: 100%;
  height: 100vh;

  &__header {
    position: absolute;
    top: $adjustable-padding;
    right: $adjustable-padding;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    gap: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: right;
    z-index: 2;
  }

  &__foreground {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: $adjustable-padding;
    display: grid;
    place-items: center;
    z-index: 1;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: black;
  }
}

.profile {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min(100px, 25vw) 1fr;
  // grid-auto-columns: min(100px, 25vw) 1fr;
  gap: 1rem;
  place-items: center;
  width: min(100%, 500px);
  height: 250px;
  text-align: left;

  &__info {
    height: 80%;
    display: grid;
    align-items: center;
  }

  &__bio {
    text-transform: capitalize;
    line-height: 100%;
    opacity: 0.8;
  }

  &__name {
    margin: 0;
    font-weight: 300;
    font-size: 1.2rem;
    color: $text-color;
  }

  &__title {
    font-size: 0.7rem;
    color: $text-color-muted;
  }

  &__headline {
    margin: 0;
    color: $text-color;
    font-size: clamp(1rem, 10vw, 2.5rem);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 100%;
  }

  &__picture {
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.scrambled-text {
  font-variant: small-caps;
  font-style: italic;
  letter-spacing: 0.5rem;
  font-weight: 100;
  color: $text-color;

  &--type-filler {
    opacity: 0.3;
  }
}

.projects {
  display: grid;
  gap: 10rem;
}

.project {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  background: rgb(134, 103, 173);
  // background-image: url("/static/bg.png");
  // background-repeat: repeat;
  // background-size: 500px;

  &__description {
    flex: 1 1 300px;
    display: grid;
    place-items: center;
  }

  &__showcase {
    height: 100%;
    // left: 0;
    flex: 1 1 300px;
    display: grid;
    place-items: center;
    // background-color: grey;
  }

  &__image {
    position: relative;
    width: 100%;
    // width: min(600px, 100%);
    height: 100%;
  }

  @media screen and (min-width: 600px) {
    flex-direction: row-reverse;
  }
}
