$color-light: #fafafa;
$color-light-muted: #7e7e7e;
$color-dark: #111111;
$adjustable-padding: min(2rem, 6vmin);
$breakpoint: 37rem;

$bg-black: #000;
$bg-gray: #1c1725;

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 5rem 5rem #000;
  border-radius: 0 0 2rem 2rem;

  &__header {
    position: absolute;
    top: $adjustable-padding;
    right: $adjustable-padding;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 2rem;
    font-weight: 100;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: right;
    z-index: 2;
  }

  &__foreground {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: $adjustable-padding;
    display: grid;
    place-items: center;
    z-index: 1;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: black;
  }
}

.profile {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min(6rem, 25vw) 1fr;
  gap: 1.5rem;
  place-items: center;
  width: min(100%, 31.25rem);
  height: 18rem;
  text-align: left;

  &__info {
    height: 70%;
    display: grid;
    align-items: center;
  }

  &__bio {
    line-height: 1rem;
  }

  &__name {
    text-transform: capitalize;
    margin: 0;
    font-weight: 300;
    font-size: 1.3rem;
    color: $color-light;
  }

  &__title {
    font-size: 0.8rem;
    color: $color-light-muted;
  }

  &__headline {
    margin: 0;
    color: $color-light;
    font-size: clamp(1rem, 9vmin, 2.5rem);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 100%;
  }

  &__picture {
    position: relative;
    border-radius: 3.125rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.projects {
  display: grid;
  padding: $adjustable-padding;
  justify-items: center;

  background-color: black;
  background-image: url("/static/bg.png");
  background-size: 100%;
  background-repeat: repeat-y;
  background-position: bottom;
}

.project {
  width: 100%;
  max-width: calc($breakpoint + 40vw);
  display: flex;
  flex-direction: column;
  padding: max(5rem, 7vw) 0;
  gap: 10vw;
  font-family: "Roboto Mono", monospace;

  &__details {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    color: $color-light;
  }

  &__showcase {
    position: relative;
    width: 100%;
  }

  &__title {
    font-weight: 400;
    font-size: 1.8rem;
    margin: 0;
    text-transform: uppercase;
    line-height: 100%;
  }

  &__description {
    font-weight: 100;
    line-height: 100%;
    font-size: clamp(1rem, 2vw, 1.2rem);
  }

  &__actions {
    display: flex;
    gap: 1rem;
  }

  &__brief {
    position: absolute;
    top: -1.5rem;
    opacity: 0.4;
    font-weight: 100;
    font-size: 0.7rem;
    text-transform: uppercase;
    text-decoration: underline;
  }

  @media screen and (min-width: $breakpoint) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}

.scrambled-text {
  font-variant: small-caps;
  font-style: italic;
  letter-spacing: 0.5rem;
  font-weight: 200;
  color: $color-light;

  &--type-filler {
    opacity: 0.3;
  }
}

.button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 3.125rem;
  border: 1px solid $color-light;

  color: $color-light;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;

  transition: all 0.5s;

  svg {
    width: 1rem;
    height: 1rem;
    fill: $color-light;
  }

  &:hover {
    transform: scale(0.9);
  }

  &--type-inverted {
    color: $color-dark;
    background-color: $color-light;
  }
}
